discord.py[voice]
numpy
torchvision
matplotlib
pillow
scipy
msedge-selenium-tools
wikipedia
opencv-python
cmake
dlib
ffmpeg-python
imageio
imageio-ffmpeg
lxml
pandas
webdriver-manager
networkx
scikit-learn
imutils
scikit-image
pyyaml
tqdm
fake-useragent