nextcord
numpy
torchvision
matplotlib
pillow
scipy
wikipedia
opencv-python
cmake
dlib
ffmpeg-python
imageio
imageio-ffmpeg
lxml
pandas
networkx
scikit-learn
imutils
scikit-image
pyyaml
tqdm
fake-useragent
pyttsx3
playwright